{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock%}

 {% block body %}
  <section>
    <div>{{ "now"|date("Y-m-d") }} </div>
    <h2>Participant :  {{ user.prenom}} {{ user.nom}} </h2>
  </section>

     <section>

         {{ form_start(searchForm) }}
         {{ form_row(searchForm.campus_id) }}
         {{ form_row(searchForm.search) }}
         {{ form_row(searchForm.startDate) }}
         {{ form_row(searchForm.endDate) }}
         {{ form_row(searchForm.organizer) }}
         {{ form_row(searchForm.registered) }}
         {{ form_row(searchForm.notRegistered) }}
         {{ form_row(searchForm.pastEvents) }}
         <button type="submit">Recherche</button>
         {{ form_end(searchForm) }}



         <p>Campus: {{ resultats.campus }}</p>
         <p>Recherche: {{ resultats.search }}</p>
         <p>Date de début: {{ resultats.startDate|date('Y-m-d') }}</p>
         <p>Date de fin: {{ resultats.endDate|date('Y-m-d') }}</p>
         <p>Organisateur: {{ resultats.organizer ? 'Oui' : 'Non' }}</p>
         <p>Inscrit: {{ resultats.registered ? 'Oui' : 'Non' }}</p>
         <p>Non inscrit: {{ resultats.notRegistered ? 'Oui' : 'Non' }}</p>
         <p>Événements passés: {{ resultats.pastEvent ? 'Oui' : 'Non' }}</p>

        {# {{ form_start(searchForm) }}

         {{ form_row(searchForm.campus_id) }}
         {{ form_row(searchForm.search) }}
         {{ form_row(searchForm.startDate) }}
         {{ form_row(searchForm.endDate) }}
         {{ form_row(searchForm.organizer) }}
         {{ form_row(searchForm.registered) }}
         {{ form_row(searchForm.notRegistered) }}
         {{ form_row(searchForm.pastEvents) }}

         {{ form_end(searchForm) }}#}

     </section>

  <a href={{ path('sortie_create') }} class="button">Créer une activité</a>

{% endblock %}