{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/profile.css') }}">
{% endblock %}
{% block title %}Accueil{% endblock%}

 {% block body %}
  <section>
    <div>{{ "now"|date("Y-m-d") }} </div>
    <h2>Participant :  {{ user.prenom }} {{ user.nom }} </h2>
  </section>

     <section>

         {{ form_start(searchForm) }}
         {{ form_row(searchForm.campus) }}
         {{ form_row(searchForm.search) }}
         <div>
             {{ form_row(searchForm.startDate) }}
             {{ form_row(searchForm.endDate) }}
         </div>

         {{ form_row(searchForm.organizer) }}
         {{ form_row(searchForm.registered) }}
         {{ form_row(searchForm.notRegistered) }}
         {{ form_row(searchForm.pastEvents) }}
         {{ form_end(searchForm) }}



         {% for sortie in resultats %}
             <p>Campus: {{ sortie.campus }}</p>
             <p>Recherche: {{ sortie.nom }}</p>
             <p>Date de début: {{ sortie.dateHeureDebut|date('Y-m-d') }}</p>
             {%  if (sortie.participants.contains(app.user))%}
                Inscrit
             {% else  %}
                 Non inscrit
                 {# mettre lien inscrire #}
             {% endif %}

             {% if (sortie.organisateur==app.user) %}
             oui je suis l'organisateur
             {% else %}
                 je ne suis pas l'oganisateur
             {% endif %}
         {% endfor %}



     </section>

  <a href={{ path('sortie_create') }} class="button">Créer une activité</a>

{% endblock %}