{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/profile.css') }}">
{% endblock %}
{% block body %}
    <h1>Mon profil</h1>

    {{ form_errors(editForm) }}

   {{ form_start(editForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {% if user.profilePicture %}
        <img src="{{ asset('uploads/profile_pictures/' ~ user.profilePicture) }}" alt="Photo de profil">
    {% endif %}
    {{ form_row(editForm.profilePicture) }}

    {{ form_row(editForm.email) }}
    {{ form_row(editForm.pseudo) }}
    {{ form_row(editForm.nom) }}
    {{ form_row(editForm.prenom) }}
    {{ form_row(editForm.tel) }}

    <div></div>
    <section >
        <button type="submit" class="btn">Enregistrer</button>
        <button><a href="{{ path('editPassword') }}">Modifier le mot de passe</a></button>
        <button onclick="window.location.href='{{ path('home') }}'" class="btn">Retour</button>
    </section>
    {{ form_end(editForm) }}
{% endblock %}

{% block title %}

{% endblock %}

