{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block body %}

    <div class="main_body">

        <div class="formulaire_titre">
            <h3>Créer une sortie</h3>
        </div>
        <div class="formulaire_sortie">
            {{ form_start(sortieForm) }}
            <div class="form_sortie_main">
                <div class="left_column">   
                    {{ form_row(sortieForm.nom) }}
                    <br>
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    <br>
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    <br>
                    {{ form_row(sortieForm.nbInscriptionMax) }}
                    <br>
                    {{ form_row(sortieForm.duree) }}minutes
                    <br>
                    {{ form_row(sortieForm.infosSortie) }}
                </div>

                <div class="right_column">   
                    {{ form_row(sortieForm.campus) }}
                    <br>
                    <span>Ville : </span><select name="sortie_ville_nom" id="sortie_ville_nom">
                        <option value="">Sélectionner une ville</option>
                        {% for ville in villes %}
                            <option value="{{ville.id}}">{{ville.nom}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    {{ form_row(sortieForm.lieu) }}
                    <br>
                    <span>Rue : </span><span id="info_rue"></span>
                    <br>
                    <br>
                    <span>Code postal : </span><span id="info_cp"></span>
                    <br>
                    <br>
                    <span>Latitude : </span><span id="info_latitude"></span>
                    <br>
                    <br>
                    <span>Longitude : </span><span id="info_longitude"></span>
                </div>
            </div>
            <div class="partie_boutons">
                {{ form_row(sortieForm.enregistrer) }}
                {{ form_row(sortieForm.publier) }}
                {{ form_row(sortieForm.annuler) }}
            </div>
            {{ form_end(sortieForm) }}
        </div>

        
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
{% endblock %}