{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block body %}

    <div class="main_body">

        <div class="formulaire_titre">
            <h3>Créer une sortie</h3>
        </div>
        <div class="formulaire_sortie">
            {{ form_start(sortieForm) }}
            <div class="form_sortie_main">
                <div class="left_column">   
                    {{ form_row(sortieForm.nom) }}
                    <br>
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    <br>
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    <br>
                    {{ form_row(sortieForm.nbInscriptionMax) }}
                    <br>
                    {{ form_row(sortieForm.duree) }}minutes
                    <br>
                    {{ form_row(sortieForm.infosSortie) }}
                </div>

                <div class="right_column">   
                    {{ form_row(sortieForm.campus) }}
                    <br>
                    {{ form_start(formVille) }}
                        {{ form_row(formVille.nom) }}
                    {{ form_end(formVille) }}

                    {{ form_start(formLieu) }}
                        {{ form_row(formLieu.nom) }}
                    {{ form_end(formLieu) }}

                    <br>
                    <div id="infos_lieu"></div>
                    <br>
                    <p>Rue : Afficher rue du lieu</p>
                    <br>
                    <p>Code postal : Afficher code postal de la ville du lieu</p>
                    <br>
                    <p>Latitude : Afficher latitude du lieu</p>
                    <br>
                    <p>Longitude : Afficher longitude du lieu</p>
                </div>
            </div>
            <div class="partie_boutons">
                <button class="save">Enregistrer</button>
                <button class="publish">Publier la sortie</button>
                <button class="cancel">Annuler</button>
            </div>
            {{ form_end(sortieForm) }}
        </div>

        
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
{% endblock %}