{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block body %}

    <div class="main_body">

        <div class="formulaire_titre">
            <h3>Créer une sortie</h3>
        </div>
        <div class="formulaire_sortie">
            {{ form_start(sortieForm) }}
            <div class="form_sortie_main">
                <div class="left_column">   
                    {{ form_row(sortieForm.nom) }}
                    <br>
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    <br>
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    <br>
                    {{ form_row(sortieForm.nbInscriptionMax) }}
                    <br>
                    {{ form_row(sortieForm.duree) }}minutes
                    <br>
                    {{ form_row(sortieForm.infosSortie) }}
                </div>

                <div class="right_column">   
                    {{ form_row(sortieForm.campus) }}
                    <br>
                    {{ form_row(sortieForm.ville) }}
                    <br>
                    {{ form_row(sortieForm.lieu, {'id': 'sortie_lieu'}) }}
                    <br>
                    <span>Rue : </span><span id="info_rue"></span>
                    <br>
                    <br>
                    <span>Code postal : </span><span id="info_cp"></span>
                    <br>
                    <br>
                    <span>Latitude : </span><span id="info_latitude"></span>
                    <br>
                    <br>
                    <span>Longitude : </span><span id="info_longitude"></span>
                </div>
                {{ form_row(sortieForm.etat, {'id': 'sortie_etat'}) }}  
            </div>
            <div class="partie_boutons">
                {{ form_row(sortieForm.enregistrer, {'id': 'sortie_enregistrer'}) }}
                {{ form_row(sortieForm.publier, {'id': 'sortie_publier'}) }}
                {{ form_row(sortieForm.annuler, {'id': 'sortie_annuler'}) }}
            </div>
            {{ form_end(sortieForm) }}
        </div>

        
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
{% endblock %}