{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier sortie{% endblock %}

{% block body %}

    <div class="main_body">

        <div class="formulaire_titre">
            <h3>Modifier une sortie</h3>
        </div>
        <div class="formulaire_sortie">
            {{ form_start(sortieForm) }}
            <div class="form_sortie_main">
                <div class="left_column">   
                    {{ form_row(sortieForm.nom) }}
                    <br>
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    <br>
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    <br>
                    {{ form_row(sortieForm.nbInscriptionMax) }}
                    <br>
                    <div class="duree_container">
                        {{ form_row(sortieForm.duree) }} <span>minutes</span>
                    </div>
                    <br>        
                    <div class="description_container">
                        {{ form_row(sortieForm.infosSortie) }}
                    </div>
                </div>

                <div class="right_column">   
                    {{ form_row(sortieForm.campus) }}
                    <br>
                    {{ form_row(sortieForm.ville) }}
                    <br>
                    <div class="lieu_container">
                        {{ form_row(sortieForm.lieu, {'id': 'sortie_lieu'}) }}
                        <a href="{{ path('lieu_create') }}"><span class="material-symbols-outlined">add_circle</span></a>
                    </div>
                    <br>
                    <span>Rue : </span><span id="info_rue"></span>
                    <br>
                    <br>
                    <span>Code postal : </span><span id="info_cp"></span>
                    <br>
                    <br>
                    <span>Latitude : </span><span id="info_latitude"></span>
                    <br>
                    <br>
                    <span>Longitude : </span><span id="info_longitude"></span>
                </div>
                {{ form_row(sortieForm.etat, {'id': 'sortie_etat'}) }}  
            </div>
            <div class="partie_boutons">
                {{ form_row(sortieForm.enregistrer, {'id': 'sortie_enregistrer'}) }}
                {{ form_row(sortieForm.publier, {'id': 'sortie_publier'}) }}
                {{ form_row(sortieForm.supprimer, {'id': 'sortie_supprimer'}) }}
                {# <form action="{{ path('sortie_delete', { 'id': sortie.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete">Supprimer la sortie</button>
                </form> #}
                {# <a href="{{ path('sortie_delete', {'id': sortie.id}) }}" class='delete'>Supprimer la sortie</a> #}
                <a href="{{ path('home') }}" class='cancel'>Annuler</a>
            </div>
            {{ form_end(sortieForm, {'render_rest': false}) }}
        </div>
    
        
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}
{% endblock %}

{% block javascripts2 %}
    <script src="{{ asset('api/form.js') }}"></script>
{% endblock %}